{% extends "./layout.html" %}
{% block content%}
<div id="preloader"></div>

<div class="main-wrapper">
	<!-- add the slider images from the backend here  -->
	<div class="rev_slider_wrapper">
		<div class="rev_slider" id="rev_slider_2" data-version="5.4.5">
			<ul>
				<!-- slide 1 -->
				<li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default"
					data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000"
					data-title="Interior Design">

					<!-- MAIN IMAGE -->
					<img src="{{ url_for('static', filename='img/slider/slide-04.jpg') }}" alt="slide1"
						data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

					<!-- HERO SUBTITLE -->
					<div class="tp-caption" data-x="30" data-y="center" data-voffset="[-100,-75,-75,-150]"
						data-fontsize="[32,30,28,30]" data-lineheight="34" data-width="[600, 500, 400, 300]"
						data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
						<p class="white-space">Apple Watch</p>
					</div>

					<!-- HERO TITLE -->
					<div class="tp-caption hero-text alt-font text-primary font-weight-600" data-x="30" data-y="center"
						data-voffset="[-30,-10,-10,-50]" data-fontsize="[52,48,46,46]" data-lineheight="[76,72,64,58]"
						data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]"
						data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none">Watch Series
					</div>

					<!-- HERO SUBTITLE -->
					<div class="tp-caption" data-x="30" data-y="center" data-voffset="[30,40,50,45]"
						data-fontsize="[26,24,22,22]" data-lineheight="[26,72,64,58]" data-width="[600, 500, 500, 300]"
						data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
						<p class="white-space">Starting at <span
								class="text-extra-dark-gray font-weight-700">$299.99</span></p>
					</div>

					<!-- BUTTON -->
					<div class="tp-caption" data-x="35" data-y="center" data-voffset="[95,110,115,120]"
						data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'><a href='#' class='butn-style2 dark medium'>Shop Now</a>
					</div>

				</li>
				<!-- end slide 1 -->

				<!-- slide 2 -->
				<li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default"
					data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000"
					data-title="Interior Design">

					<!-- MAIN IMAGE -->
					<img src="{{ url_for('static', filename='img/slider/slide-05.jpg') }}" alt="slide2"
						data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

					<!-- HERO SUBTITLE -->
					<div class="tp-caption" data-x="30" data-y="center" data-voffset="[-100,-75,-75,-150]"
						data-fontsize="[32,30,28,30]" data-lineheight="34" data-width="[600, 500, 400, 300]"
						data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
						<p class="white-space">Simple Cart</p>
					</div>

					<!-- HERO TITLE -->
					<div class="tp-caption hero-text alt-font text-primary font-weight-600" data-x="30" data-y="center"
						data-voffset="[-30,-10,-10,-50]" data-fontsize="[52,48,46,46]" data-lineheight="[76,72,64,58]"
						data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]"
						data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none">Echo Spot New
					</div>

					<!-- HERO SUBTITLE -->
					<div class="tp-caption" data-x="30" data-y="center" data-voffset="[30,40,50,45]"
						data-fontsize="[26,24,22,22]" data-lineheight="[26,72,64,58]" data-width="[600, 500, 500, 300]"
						data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
						<p class="white-space">Starting at <span
								class="text-extra-dark-gray font-weight-700">$199.99</span></p>
					</div>

					<!-- BUTTON -->
					<div class="tp-caption" data-x="35" data-y="center" data-voffset="[95,110,115,120]"
						data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'><a href='#' class='butn-style2 dark medium'>Shop Now</a>
					</div>

				</li>
				<!-- end slide 2 -->

				<!-- slide 3 -->
				<li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default"
					data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000"
					data-title="Interior Design">

					<!-- MAIN IMAGE -->
					<img src="{{ url_for('static', filename='img/slider/slide-06.jpg') }}" alt="slide3"
						data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

					<!-- HERO SUBTITLE -->
					<div class="tp-caption" data-x="30" data-y="center" data-voffset="[-100,-75,-75,-150]"
						data-fontsize="[32,30,28,30]" data-lineheight="34" data-width="[600, 500, 400, 300]"
						data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
						<p class="white-space">Smartphone</p>
					</div>

					<!-- HERO TITLE -->
					<div class="tp-caption hero-text alt-font text-primary font-weight-600" data-x="30" data-y="center"
						data-voffset="[-30,-10,-10,-50]" data-fontsize="[52,48,46,46]" data-lineheight="[76,72,64,58]"
						data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]"
						data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none">Mobile Series
					</div>

					<!-- HERO SUBTITLE -->
					<div class="tp-caption" data-x="30" data-y="center" data-voffset="[30,40,50,45]"
						data-fontsize="[26,24,22,22]" data-lineheight="[26,72,64,58]" data-width="[600, 500, 500, 300]"
						data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
						<p class="white-space">Starting at <span
								class="text-extra-dark-gray font-weight-700">$599.99</span></p>
					</div>

					<!-- BUTTON -->
					<div class="tp-caption" data-x="35" data-y="center" data-voffset="[95,110,115,120]"
						data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'><a href='#' class='butn-style2 dark medium'>Shop Now</a>
					</div>

				</li>
				<!-- end slide 3 -->

			</ul>
		</div>
	</div>

	<!-- CATEGORY
        ================================================== -->
	<section>
		<div class="container">
			<div class="row mt-n1-9">
				<div class="col-md-6 mt-1-9">
					<div class="categories-banner rounded">
						<a href="#">
							<div class="offer-img">
								<img src="{{ url_for('static', filename='img/offer-banner/offer-banner-02.jpg') }}"
									alt="...">
							</div>
							<div class="categories-details">
								<h3 class="mb-2 display-27 display-md-26 display-lg-23">JBL Wireless<br> Blutooth
									Speaker</h3>
								<h6 class="mb-0 font-weight-500 display-29 text-primary">Sale 20% Off</h6>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 mt-1-9">
					<div class="categories-banner rounded">
						<a href="#">
							<div class="offer-img">
								<img src="{{ url_for('static', filename='img/offer-banner/offer-banner-03.jpg') }}"
									alt="...">
							</div>
							<div class="categories-details">
								<h3 class="mb-2 display-27 display-md-26 display-lg-23">Apple <br> Smartwatch</h3>
								<h6 class="mb-0 font-weight-500 display-29 text-primary">Sale 60% Off</h6>
							</div>
						</a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<!-- FEATURED PRODUCTS
        ================================================== -->
	<section class="pt-0">
		<div class="container">
			<div class="section-heading">
				<h2 class="display-22 display-md-20 display-lg-18">Featured Products</h2>
			</div>

			<div class="horizontaltab tab-style-three">
				<ul class="resp-tabs-list hor_1">
					<li>Featured</li>
				</ul>
				<div class="resp-tabs-container hor_1">
					<div>
						<div class="product-grid-slide owl-carousel owl-theme">
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer bg-red">Sale</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-01.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Smart Digital Watch</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$99.00</span>
										<span class="offer-price">$90.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<!-- featured products -->

















							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-02.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Desktop Speakers</a></h3>
									<h4 class="price">
										<span class="offer-price">$29.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer left-align bg-primary">New</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-03.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Wireless Controller</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$57.00</span>
										<span class="offer-price">$55.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-04.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Wireless Headset</a></h3>
									<h4 class="price">
										<span class="offer-price">$28.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-05.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Hp Wireless Printer</a></h3>
									<h4 class="price">
										<span class="offer-price">$90.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="product-grid-slide owl-carousel owl-theme">
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer bg-red">Sale</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-06.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Gear 360 Video Editor</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$99.00</span>
										<span class="offer-price">$88.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-07.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Standalone VR Headset</a></h3>
									<h4 class="price">
										<span class="offer-price">$110.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer left-align bg-primary">New</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-08.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">USB Flash Drive</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$21.00</span>
										<span class="offer-price">$15.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-09.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Mini Bluetooth Speaker</a></h3>
									<h4 class="price">
										<span class="offer-price">$29.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-10.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Mobile Earphone</a></h3>
									<h4 class="price">
										<span class="offer-price">$31.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="product-grid-slide owl-carousel owl-theme">
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer bg-red">Sale</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-11.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Speech Enabled Device</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$85.00</span>
										<span class="offer-price">$75.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-12.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Apple iPhone X</a></h3>
									<h4 class="price">
										<span class="offer-price">$1214.50</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer left-align bg-primary">New</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-13.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Plugs And Sockets</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$22.00</span>
										<span class="offer-price">$11.40</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<div>
						<div class="product-grid-slide owl-carousel owl-theme">
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer bg-red">Sale</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-16.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Pen Drive 8gb</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$10.00</span>
										<span class="offer-price">$09.50</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-17.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Virtual Reality Headset</a></h3>
									<h4 class="price">
										<span class="offer-price">$72.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html">
										<div class="label-offer left-align bg-primary">New</div><img
											src="{{ url_for('static', filename='img/products/product-grid/product-18.jpg') }}"
											alt="...">
									</a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Multimedia Speaker</a></h3>
									<h4 class="price">
										<span class="regular-price line-through">$38.00</span>
										<span class="offer-price">$25.70</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-19.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">Phantom Drone</a></h3>
									<h4 class="price">
										<span class="offer-price">$857.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-grid">
								<div class="product-img">
									<a href="shop-product-detail.html"><img
											src="{{ url_for('static', filename='img/products/product-grid/product-20.jpg') }}"
											alt="..."></a>
								</div>
								<div class="product-description">
									<h3><a href="shop-product-detail.html">White Apple Watch</a></h3>
									<h4 class="price">
										<span class="offer-price">$28.00</span>
									</h4>
								</div>
								<div class="product-buttons">
									<ul class="ps-0">
										<li><a href="#" class="btn-link" title="Add To Wishlist"><i
													class="far fa-heart"></i></a></li>
										<li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										<li><a href="#" class="btn-link" title="Add To Compare"><i
													class="fas fa-random"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>

</div>
{% endblock content %}
