{% extends "./layout.html" %}
{% block content%}

<div id="preloader"></div>

<div class="main-wrapper">

	<section>
		<div class="container">
			<div class="row mt-n1-9">

				<h6>Welcome to our vibrant online marketplace, a hub where sellers and buyers connect to create a thriving ecosystem of commerce.</h6>

				<p>For sellers, we offer a straightforward path to market your products. <a href="{{ url_for('auth.register') }}">Sign up</a> for a seller account, and you're ready to start listing your items.</p>
				
				<p>For buyers, our marketplace is your one-stop-shop for discovering new products and connecting with sellers. Browse through our extensive catalog, to find the best deals and products.</p>
				
				<p>Start your journey with us and experience the difference of a marketplace that truly connects people and products.</p>

			</div>

		</div>
	</section>

	<section class="pt-0">
		<div class="container">
			<div class="section-heading">
				<h2 class="display-22 display-md-20 display-lg-18">New Products on Simple Cart</h2>
			</div>

			<div class="horizontaltab tab-style-three">

				<div class="resp-tabs-container hor_1">

						<div class="product-grid-slide owl-carousel owl-theme">
							{% for i in range(3) %}
								<div class="product-grid">
									<div class="product-img">
										<a href="/product/{{ products[i].id }}">
											<img src="{{ url_for('static', filename='img/product_pics/' + products[i].picture[0]) }}"
											alt="Product Image">
										</a>
									</div>
									<div class="product-description">
										<h3><a href="{{ url_for('products.product', product_id=products[i].id) }}">{{products[i].name }}</a></h3>
										<h4 class="price">
											<span class="regular-price">Ksh {{products[i].price }}</span>
										</h4>
									</div>
									<div class="product-buttons">
										<ul class="ps-0">
											<li><a href="{{ url_for('cart.add_to_cart', product_id=products[i].id) }}" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
										</ul>
									</div>
								</div>
							{% endfor %}
						</div>

				</div>
			</div>

		</div>
	</section>

</div>
{% endblock content %}
