{% extends "./layout.html" %}
{% block content %}
<div class="container mb-4 mt-3">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">
					<form method="POST" action="">
						{{ form.hidden_tag() }}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Register</legend>

							<div class="mb-3">
								{{ form.fullname.label(class="form-label") }}
								{{ form.fullname(class="form-control", placeholder="Full Name") }}
								{% if form.fullname.errors %}
								<div class="invalid-feedback">
									{% for error in form.fullname.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% endif %}
							</div>

							<div class="mb-3">
								{{ form.email.label(class="form-label") }}
								{{ form.email(class="form-control", placeholder="Email Address") }}
								{% if form.email.errors %}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% endif %}
							</div>

							<div class="form-group">
								{{ form.usertype.label(class="form-control-label") }}
							
								{% if form.usertype.errors %}
									<select name="usertype" id="usertype" class="form-control form-control-md mb-2 is-invalid" required>
										<option value="">Select User Type</option>
										<option value="buyer">Buyer</option>
										<option value="seller">Seller</option>
									</select>
									<div class="invalid-feedback">
										{% for error in form.usertype.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									<select name="usertype" id="usertype" class="form-control form-control-md mb-2" required>
										<option value="">Select User Type</option>
										<option value="buyer">Buyer</option>
										<option value="seller">Seller</option>
									</select>
								{% endif %}
							</div>

							<div class="mb-3">
								{{ form.password.label(class="form-label") }}
								{{ form.password(class="form-control", placeholder="Password") }}
								{% if form.password.errors %}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% endif %}
							</div>

							<div class="mb-3">
								{{ form.confirm_password.label(class="form-label") }}
								{{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
								{% if form.confirm_password.errors %}
								<div class="invalid-feedback">
									{% for error in form.confirm_password.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% endif %}
							</div>

							<div class="mb-3">
								{{ form.phonenumber.label(class="form-label") }}
								{{ form.phonenumber(class="form-control", placeholder="Phone Number") }}
								{% if form.phonenumber.errors %}
								<div class="invalid-feedback">
									{% for error in form.phonenumber.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% endif %}
							</div>

						</fieldset>
						<div class="mb-3">
							{{ form.submit(class="btn btn-primary") }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="border-top pt-3 text-center">
	<small class="text-muted">Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></small>
</div>
{% endblock content %}
